html, body {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

body {
  background: url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

body:before {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 128px;
  height: 128px;
  background: url("../images/pause.png") center center #ffffff;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: -1;
  box-shadow: 0 0 0 1000px #ffffff;
}

body.paused:before {
  opacity: 0.7;
  z-index: 100;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  outline: none;
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

.sn-content-score {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.sn-content-score .el {
  text-align: left;
  display: inline-block;
  margin: 0 30px;
  font-size: 23px;
  width: 200px;
  white-space: nowrap;
  color: #ffffff;
}

.sn-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
}

.sn-content-wrapper .control {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ff7200;
  width: 250px;
  height: 70px;
  color: #ffffff;
  border: none;
  padding: 0;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.8);
  font-size: 23px;
  text-transform: uppercase;
}

.sn-content-wrapper .end-message {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 23px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  display: none;
}

.sn-content-wrapper .end-message .restart {
  margin: 30px 0 0 0;
  display: inline-block;
  background-color: #000000;
  width: 250px;
  height: 70px;
  color: #ffffff;
  border: none;
  padding: 0;
  font-size: 23px;
  text-transform: uppercase;
}

.sn-main-wrapper {
  width: 700px;
  height: 500px;
}

.sn-main-wrapper.gameover {
  border-color: #ea3a3c;
  background-color: rgba(234, 58, 60, 0.5);
}

.sn-element {
  width: 20px;
  height: 20px;
  border: 1px solid #00ad5d;
  box-shadow: 0 0 10px #00ad5d inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}

.sn-part {
  width: 20px;
  height: 20px;
  border: 1px solid #ff7200;
  box-shadow: 0 0 10px #ff7200 inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */